$textColor: #162b41;
$bgColor: #fff;
$inputBgColor: #faf8f8;
$boxShadow1: 2px 0 10px 2px rgba(90, 116, 148, 0.4);
$boxShadowSuccess: 2px 0 10px 2px rgba(14, 225, 35, 0.4);
$boxShadowError: 2px 0 10px 2px rgba(255, 0, 0, 0.4);
$borderColorSuccess: #0ee123;
$borderColorError: #ff0000;
